@import url(http://fonts.googleapis.com/css?family=Fjalla+One);


/* Header Styling */

h1, h2, h3 {
  text-align: center;
  line-height: 100%;
  font-family: font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.poster {
  height: 500px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background: grey;
}

/*"The Classy Roommate"*/

#audrey {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#audrey {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*Add this line to your CSS!*/
  border: 15px solid red;
}

/*"The Neurotic New Yorker"*/
#woody {
  padding-top: 55.5px;
  padding-bottom: 55.5px;
  padding-left: 32.5px;
  padding-right: 32.5px;
  background-color: white;
}
#woody {
    padding-top: 55.5px;
    padding-bottom: 55.5px;
    padding-left: 32.5px;
    padding-right: 32.5px;
    background-color: white;
    <!-- Add this to your CSS! -->
    border: 15px solid red;
}
#newyork {
  border: 15px solid red;
}

/*"The Art History Major"*/


/*"Pop Culture Fanatic"*/

